@font-face {
  font-family: "OldSansBlack";
  src: url("../fonts/oldsansblack-webfont.woff2") format("woff2"), url("../fonts/oldsansblack-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/caviardreams-webfont.woff2") format("woff2"), url("../fonts/caviardreams-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CaviarDreamsBold";
  src: url("../fonts/caviardreams_bold-webfont.woff2") format("woff2"), url("../fonts/caviardreams_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*********************
  BREAKPOINTS
*********************/
body {
  font-size: 16px;
  color: #363333;
  font-weight: 100;
  font-family: "lato", sans-serif;
  background-color: #ffffff;
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

.flex-one {
  flex: 1;
}

.half-flex {
  flex: 0.5;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.btm-mrg {
  margin-bottom: 3rem;
}

.tp-mrg {
  margin-top: 3rem;
}

.tp-mrg-md {
  margin-top: 2rem;
}

.time {
  color: #606060;
  font-size: 1rem;
  font-family: "museo-sans-display";
}

.tech-used {
  font-family: "museo-sans-display";
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #606060;
}

h3 {
  font-family: "museo-sans-display";
  font-size: 4rem;
  line-height: 73px;
}

h4 {
  font-size: 1.8rem;
  font-family: museo-sans-display, sans-serif;
  font-weight: 900;
  font-style: normal;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  transition: all 0.5s;
}

.ribbon {
  text-align: center;
  position: relative;
  line-height: 100px;
  background: #fff;
}

.highlight {
  color: #e31b6d;
}

.ribbon:after {
  background-image: linear-gradient(to right, #F20715 20%, #F2CB05 20%, #F2CB05 40%, #131825 40%, #131825 60%, #F0E9CE 60%, #F0E9CE 80%, #D90105 80%);
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
}

@media (min-width: 40em) {
  .tp-mrg-small {
    margin-top: 0;
  }

  .side-pad {
    padding: 0 1.75rem;
  }
}
/*********************
  HEADER
*********************/
.header {
  height: 100vh;
  background-color: #252934;
  display: flex;
  align-items: center;
}
.header .main-title {
  font-family: museo-sans, sans-serif;
  font-size: 2.7rem;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
}
.main__intro {
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
}
@media (min-width: 40em) {
  .main__intro {
    flex-direction: row;
  }
  .main__intro > div div {
    margin: 0;
  }
}
.main__work .flex {
  flex-direction: column;
}
.main__work .flex .flex-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  flex: 0 0 auto;
  margin: 0 0 1.5rem 0;
}
@media (min-width: 40em) {
  .main__work .flex {
    flex-direction: row;
  }
  .main__work .flex .flex-background {
    flex: 1;
    margin: 0;
  }
}
@media (min-width: 64em) {
  .main__skills-wrapper {
    padding-left: 0 !important;
  }
}
.main__skills-wrapper a {
  color: #ffffff;
}
.main__skills-wrapper a:hover {
  cursor: pointer;
  color: #363333;
}
.main__skills h2 {
  margin-bottom: 1rem;
}
.main__skills span {
  font-size: 1.4rem;
  text-transform: capitalize;
}
.main__skills .icon-wrapper {
  margin: 15px auto;
}
@media (min-width: 40em) {
  .main__skills .icon-wrapper {
    width: 130px;
  }
}
.main__skills .icon-wrapper i {
  margin-right: 5px;
  font-size: 1.3rem;
}
.main section {
  padding: 1.5rem;
}
.main .abt-text {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 27px;
  color: #606060;
}
@media (min-width: 40em) {
  .main .abt-text {
    margin-top: 0;
    padding: 0 1.75rem;
  }
  .main section {
    padding: 3.5rem 1.5rem;
  }
}

/*********************
  FOOTER
*********************/
.footer {
  background-color: #ffffff;
  padding: 1.5rem;
}
.footer p {
  font-size: 1.2rem;
  color: #606060;
}
.footer .contact-me {
  margin-top: 1rem;
}
.footer .copyright {
  color: #606060;
  text-align: left;
  align-self: flex-end;
  margin-top: 1rem;
}
@media (min-width: 40em) {
  .footer {
    display: flex;
  }
  .footer div {
    flex: 1;
  }
  .footer .copyright {
    text-align: right;
  }
  .footer .contact-me, .footer .copyright {
    margin-top: 0rem;
  }
}