* {
  box-sizing: border-box; }

a, a:hover {
  text-decoration: none !important; }

h1.main-title {
  font-size: 1.7rem;
  color: #293347;
  margin-bottom: 2.4rem; }

.hamburger-menu {
  position: absolute;
  top: -27px;
  right: 15px; }

.avatar {
  font-size: 6rem;
  padding: 3rem 0;
  color: #8C43FF; }

section {
  padding: 5rem 0 0; }

.hero-img {
  width: 100%;
  max-height: 250px; }

/*********************
  BREAKPOINTS
*********************/
/*********************
  HEADER
*********************/
.header__bar {
  padding: 1.2rem 0; }

.header__logo i {
  font-size: 2rem;
  color: #8C43FF; }

.header__navigation ul {
  list-style: none;
  padding: 0;
  margin: 0; }

@media (min-width: 40em) {
  .header__navigation li {
    display: inline-block; } }

.header__navigation li a {
  color: #293347; }

.header__navigation nav.navigation {
  display: none;
  transition: all 2s linear 2s; }
  @media (min-width: 40em) {
    .header__navigation nav.navigation {
      display: block;
      text-align: right; } }
  .header__navigation nav.navigation .menu {
    display: inline-block; }
    .header__navigation nav.navigation .menu__item {
      padding: 0 .25rem; }

.header__navigation nav.navigation.show {
  display: block;
  transition: all 2s linear 2s; }

.header__navigation .hamburger-menu i {
  font-size: 1.3rem;
  color: #8C43FF; }

.main__intro {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #8C43FF;
  color: #ffffff;
  padding-bottom: 5rem; }
  @media (min-width: 40em) {
    .main__intro {
      padding-left: 6rem;
      padding-right: 6rem; } }
  @media (min-width: 64em) {
    .main__intro {
      padding-left: 12rem;
      padding-right: 12rem; } }
  @media (min-width: 70em) {
    .main__intro {
      padding-left: 25rem;
      padding-right: 25rem; } }

.main__work h2 {
  margin-bottom: 2rem; }

.main__work figure {
  height: 150px;
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  overflow: hidden; }
  .main__work figure .main__card-background {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: all .5s; }
    .main__work figure .main__card-background--top {
      background-position: top; }
    .main__work figure .main__card-background--bottom {
      background-position: bottom; }
  .main__work figure:hover .main__card-background {
    transform: scale(1.2);
    transition: all .5s; }
  .main__work figure:focus .main__card-background {
    transform: scale(1.2);
    transition: all .5s; }
  @media (min-width: 64em) {
    .main__work figure {
      height: 250px; } }
  .main__work figure-title {
    padding: 5rem 0 0; }
  .main__work figure figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 5px 15px; }

/*********************
  FOOTER
*********************/
.footer {
  min-height: 250px;
  margin-top: 5rem;
  background-color: #8C43FF; }
  .footer i {
    color: #ffffff;
    font-size: 4rem; }
  .footer p {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 3rem; }
  .footer .menu {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer .menu__item {
      display: inline-block;
      margin: 0 .5rem; }
      .footer .menu__item a {
        color: #ffffff; }
  .footer .copyright {
    margin: 1rem;
    color: #ffffff; }
  @media (min-width: 40em) {
    .footer {
      min-height: 450px; } }
